@model IEnumerable<BusinessLibrary.Entity.Login>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Management/Views/Shared/_Management_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipoMatricula.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula_Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Senha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipoMatricula.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula_Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
